#root {
  background-image: url("/beautiful-blue-002.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  #root {
    background-image: linear-gradient(
      to bottom right,
      rgb(17 24 39),
      rgb(88 28 135 / 0.2),
      rgb(17 24 39)
    );
  }
}
